<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoler.raisins.dao.mapper.PatientInfoMapper">
    <resultMap id="BaseResultMap" type="com.yoler.raisins.entity.PatientInfo">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="SEX" jdbcType="VARCHAR" property="sex"/>
        <result column="AGE" jdbcType="INTEGER" property="age"/>
        <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday"/>
        <result column="ZODIAC" jdbcType="VARCHAR" property="zodiac"/>
        <result column="INTRODUCER" jdbcType="VARCHAR" property="introducer"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,NAME, SEX, AGE, BIRTHDAY, ZODIAC,INTRODUCER
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yoler.raisins.entity.PatientInfo">
		insert into Patient_Info
		  (NAME, SEX, AGE,BIRTHDAY, ZODIAC,INTRODUCER)
		values (#{name,jdbcType=VARCHAR},
		         #{sex,jdbcType=VARCHAR},
		         #{age,jdbcType=INTEGER},
		         #{birthday,jdbcType=VARCHAR},
		         #{zodiac,jdbcType=VARCHAR},
		         #{introducer,jdbcType=VARCHAR})
	</insert>

    <resultMap id="ConsiliaDateIntroResult" type="com.yoler.raisins.vo.ConsiliaDateIntroVo">
        <result column="visiting_date" jdbcType="VARCHAR" property="visitingDate"/>
        <result column="patient_info_id" jdbcType="VARCHAR" property="patientInfoId"/>
        <result column="patient_condition_id" jdbcType="VARCHAR" property="patientConditionId"/>
        <result column="name" jdbcType="VARCHAR" property="patientName"/>
        <result column="sex" jdbcType="VARCHAR" property="patientSex"/>
    </resultMap>

    <resultMap id="ConsiliaNameIntroResult" type="com.yoler.raisins.vo.ConsiliaNameIntroVo">
        <result column="visiting_date" jdbcType="VARCHAR" property="visitingDate"/>
        <result column="patient_info_id" jdbcType="VARCHAR" property="patientInfoId"/>
        <result column="patient_condition_id" jdbcType="VARCHAR" property="patientConditionId"/>
    </resultMap>

    <select id="getConsiliaDateIntro" parameterType="java.util.Map" resultMap="ConsiliaDateIntroResult">
        SELECT
        s.visiting_date,
        s.patient_info_id,
        s.id patient_condition_id,
        t.name,
        t.sex
        FROM Patient_Info t, Patient_Condition s
        WHERE t.id = s.patient_info_id
          and s.visiting_date = #{queryDate}
    </select>

    <select id="getConsiliaNameIntro" parameterType="java.lang.String" resultMap="ConsiliaNameIntroResult">
        SELECT
          s.visiting_date,
          s.patient_info_id,
          s.id patient_condition_id
        FROM  Patient_Condition s
        WHERE s.patient_info_id = #{patientInfoId}
        ORDER BY s.visiting_date DESC;
    </select>

    <select id="getPatientInfoByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Patient_Info t
        WHERE t.name = #{patientName}
    </select>
</mapper>